.input {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .input {
    width: 100%;
  }
}

@media (max-width: 456px) {
  .input {
    padding-left: 0;
  }
}

.input input {
  background-color: hsl(204, 23%, 96%);
  border: none;
  box-shadow: 0px 0px 2px 0px hsl(0deg 0% 7%);
  font-size: 1em;
  margin-top: 0.6rem;
  height: 3.8rem;
  border-radius: 0.6rem;
  padding: 0 1.6rem;
}
