.input {
  display: flex;
  flex-direction: column;
  /* Prevents Quill editor from overflowing */
  overflow: auto;
  /* For shadows to appear due to overflow property above */
  padding: 0 0.2rem 0.2rem 0.2rem;
}

@media (max-width: 768px) {
  .input {
    width: 100%;
  }
}

.input input {
  background-color: hsl(204, 23%, 96%);
  border: none;
  box-shadow: 0px 0px 2px 0px hsl(0deg 0% 7%);
  font-size: 1em;
  margin-top: 0.6rem;
  height: 3.8rem;
  border-radius: 0.6rem;
  padding: 0 1.6rem;
}

.new-info {
  background-color: inherit;
  color: var(--legend-desc-color);
  /* 
      Used to offset row-gap of .input-container.
      row-gap size - margin-top size = offset
      40px - 24px = 16px gap above 
  */
  margin-top: -2.4rem;
}

.new-info svg {
  font-size: 0.75em;
}
