.button {
  align-items: baseline;
  border-radius: 0.8rem;
  display: inline-flex;
  justify-content: center;
}

.button svg {
  margin-right: 0.8rem;
}

.button--lg {
  font-size: 1.25em;
  padding: 1.5rem 3rem;
}

.button--md {
  font-size: 1em;
  padding: 1.2rem 1.6rem;
}

.button--sm {
  font-size: 0.875em;
  padding: 0.8rem 1.4rem;
}

.print {
  background-color: hsl(244, 46%, 57%);
  color: hsl(0, 0%, 96%);
  margin-top: 3.6rem;
}

.delete {
  background-color: hsl(226, 44%, 44%);
  color: hsl(0, 0%, 96%);
  place-self: end;
  width: min-content;
}

@media (max-width: 456px) {
  .delete {
    padding: 1.2rem 1.4rem;
    place-self: stretch;
    width: auto;
  }
}

.submit {
  background-color: var(--submit-bg-color);
  color: var(--submit-font-color);
  font-size: 1em;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
}

.reset-form {
  /* background-color: hsl(207, 27%, 30%); */
  background: inherit;
  color: var(--reset-font-color);
  box-shadow: 0px 0px 3px 0px var(--reset-shadow-color);
  font-size: 1em;
  font-weight: 500;
  margin-right: 1.4rem;
  padding: 1.2rem 2.4rem;
}

@media (max-width: 456px) {
  .reset-form {
    margin-right: 0;
    margin-top: 1.8rem;
  }
}

.download {
  /*background-color: hsl(175, 84%, 32%);*/
  background-color: hsl(190, 56%, 78%);
  color: hsl(225, 84%, 19%);
  font-size: 1em;
  margin-top: 3.6rem;
  padding: 1.2rem 2.4rem;
}
