/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------ End of CSS Reset ------------ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
    animation-delay: 0s !important;
  }
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px auto red;
}

/* Default is light theme. */
:root {
  --bg-color: hsl(204, 15%, 94%);
  --font-color: hsl(0, 0%, 30%);
  --heading-color: hsl(0, 0%, 26%);

  --form-bg-color: hsl(0, 0%, 100%);
  --form-shadow-color: hsl(220deg 7% 83%);
  --legend-desc-color: hsl(194, 67%, 27%);
  --fieldset-line-color: hsla(0, 0%, 26%, 0.4); /* Based on heading color */

  --submit-bg-color: hsl(205, 50%, 34%);
  --submit-font-color: hsl(0, 0%, 96%);

  --reset-shadow-color: hsl(205deg 50% 34%);
  --reset-font-color: hsl(205, 50%, 34%);
}

[data-theme='dark'] {
  --bg-color: hsl(232, 20%, 17%);
  --font-color: hsl(0, 0%, 96%);
  --heading-color: hsl(0, 0%, 100%);

  --form-bg-color: hsla(231, 30%, 22%, 0.85);
  --form-shadow-color: hsl(231deg 39% 8%);
  --legend-desc-color: hsl(194, 67%, 82%);
  --fieldset-line-color: hsla(0, 0%, 100%, 0.4); /* Based on heading color */

  --submit-bg-color: hsl(180, 45%, 29%);
  --submit-font-color: hsl(0, 0%, 96%);

  --reset-shadow-color: hsl(0deg 0% 76%);
  --reset-font-color: hsl(0, 0%, 96%);
}

html {
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  font-size: 62.5%;
  min-height: 100%;
  transition: color 300ms, background-color 300ms;
}

body {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  font: 16px/1.65 system-ui, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 1.6em;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  appearance: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  line-height: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  line-height: 1.2;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 3.2rem;
  font-size: 2.8rem;
}

header button {
  border: none;
  background: inherit;
  color: inherit;
  font-size: inherit;
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5%;
}

strong {
  font-weight: bold;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*
https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/
https://developer.mozilla.org/en-US/docs/Web/CSS/@page
https://stackoverflow.com/a/15150779
*/
@media print {
  @page {
    margin: 0;
    size: letter portrait;
  }
  body {
    margin: 1.6cm;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
